{% extends "layout/basic.html" %}
{% load bootstrap4 %}
{% load static %}
{% load thumbnail %}


{% block content %}
<div class="row pt-2">
    <div class="col-2">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link fs-5 border-bottom border-dark" href="{% url 'fbook:profile' %}">Моя страница</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5 border-bottom border-dark" href="{% url 'fbook:profile' %}">Сообщения</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5 disabled border-bottom border-dark" href="{% url 'fbook:users_list' %}">Друзья</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5 border-bottom border-dark" href="{% url 'fbook:post' %}">Добавить пост</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5 border-bottom border-dark" href="#">Disabled</a>
            </li>
        </ul>
    </div>
    <div class="col-8">
        <div class="d-flex">
            <img class="mr-3" src="{% thumbnail user.image 'default' %}">
            <div class="d-flex flex-column">
                <div class="fs-5">Имя: {{ user.first_name }}</div>
                <div class="fs-5">Фамилия: {{ user.last_name }}</div>
                <div class="fs-5 fst-italic">Телефон: {{ user.phone }}</div>
                <div class="fs-5 fst-italic">Дата рождения: {{ user.date_of_birth }}</div>
                <div class="fs-5 fst-italic">Почта: {{ user.email }}</div>
                <div class="fs-5 fst-italic">Город: {{ user.city }}</div>
                <div class="fs-5 fst-italic">Обо мне: {{ user.about_me }}</div>
            </div>
        </div>
        {% if user.posts.count >= 1 %}
        <div class="text-center py-4 fs-3">Посты пользователя {{ user.first_name }}</div>
        {% for post in user.posts.all %}
        <div class="border border-primary p-3 bg-light rounded mb-2">
            <h4>Тема: {{ post.title }}</h4>
            <div class="fs-5">{{ post.text }}</div>
        </div>
        {% endfor %}
        {% else %}
        <div class="text-center py-4 fs-3">У {{ user.first_name }} нет постов!</div>
        {% endif %}
    </div>
    <div class="col-2">
        {% if add_class %}
        <a href="{% url 'fbook:invite' pk=user.pk %}" class="btn btn-warning {{ add_class }}">&#10003 отправлено </a>
        {% else %}
        <a href="{% url 'fbook:invite' pk=user.pk %}" class="btn btn-warning">Добавить в друзья</a>
        {% endif %}
    </div>
</div>


{% endblock content %}