{% extends "layout/basic.html" %}
{% load bootstrap4 %}
{% load static %}
{% load thumbnail %}


{% block content %}
<div class="row pt-2">
    <div class="col-2">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link disabled fs-5 border-bottom border-dark" href="">Моя страница</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5 border-bottom border-dark" href="{% url 'fbook:chats' %}">Сообщения <span class="badge badge-pill badge-primary">{{ count_of_messages }}</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5 border-bottom border-dark" href="{% url 'fbook:users_list' %}">Друзья</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5 border-bottom border-dark" href="{% url 'fbook:post' %}">Добавить пост</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5 border-bottom border-dark" href="#">Disabled</a>
            </li>
        </ul>
    </div>
    <div class="col-8">
        <h3>Ваш профиль</h3>
        <div class="d-flex">
            <img class="mr-3" src="{% thumbnail user.image 'default' %}">
            <div class="d-flex flex-column">
                <div class="fs-5">Имя: {{ user.first_name }}</div>
                <div class="fs-5">Фамилия: {{ user.last_name }}</div>
                <div class="fs-5 fst-italic">Телефон: {{ user.phone }}</div>
                <div class="fs-5 fst-italic">Дата рождения: {{ user.date_of_birth }}</div>
                <div class="fs-5 fst-italic">Почта: {{ user.email }}</div>
                <div class="fs-5 fst-italic">Город: {{ user.city }}</div>
                <div class="fs-5 fst-italic">Обо мне: {{ user.about_me }}</div>
            </div>
        </div>
        {% if user.posts.count >= 1 %}
        <div class="text-center py-4 fs-3">Ваши посты</div>
        {% for post in user.posts.all %}
        <div class="border border-dark p-3 bg-light rounded mb-2">
            <h4 class="text-center">{{ post.title }}</h4>
            <div class="fs-5 mt-3">{{ post.text }}</div>
            <a href="{% url 'fbook:delete_post' pk=post.pk %}" class="btn btn-danger my-2">Удалить</a>
        </div>
        {% endfor %}
        {% else %}
        <a href="{% url 'fbook:post' %}" class="btn btn-info py-2 my-3">Добавить пост</a>
        {% endif %}
    </div>
    <div class="col-2 text-right">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                    data-toggle="dropdown"
                    aria-expanded="false">
                Настройки
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item active" href="#">Мой профиль</a></li>
                <li><a class="dropdown-item" href="#">Изменить пароль</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'fbook:logout' %}">Выйти</a></li>
            </ul>
        </div>
    </div>
</div>


{% endblock content %}