{% extends "layout/basic.html" %}
{% load bootstrap4 %}
{% load static %}
{% load thumbnail %}


{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<script>
$(function(){
  $('.like-toggle').click(function(){
    $(this).toggleClass('like-active');
    $(this).next().toggleClass('hidden');
    var btn = $(this);
    var pk_data = $(this).next().next().html();
    console.log(pk_data);
    $.ajax({
      method: "POST",
      url: "{% url 'fbook:like_handler' %}",
      dataType: "json",
      data: {
            "pk":pk_data
      },
      success: function(data) {
        console.log(data.count_likes);
        var count_data = data.count_likes
        console.log(btn.next().html(count_data));
      },
      error: function(er) {
        console.log(er);
      }
    });
  });
});

</script>
<div class="row pt-2">
    <div class="col-2">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link disabled fs-5 border-bottom border-dark" href="">Моя страница</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5 border-bottom border-dark" href="{% url 'fbook:chats' %}">Сообщения <span
                        class="badge badge-pill badge-primary">{{ count_of_messages }}</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5 border-bottom border-dark" href="{% url 'fbook:users_list' %}">Друзья</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5 border-bottom border-dark" href="{% url 'fbook:post' %}">Добавить пост</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5 border-bottom border-dark" href="#">Disabled</a>
            </li>
        </ul>
    </div>
    <div class="col-8">
        <h3>Ваш профиль</h3>
        <div class="d-flex">
            <img class="mr-3" src="{% thumbnail user.image 'default' %}">
            <div class="d-flex flex-column">
                <div class="fs-5">Имя: {{ user.first_name }}</div>
                <div class="fs-5">Фамилия: {{ user.last_name }}</div>
                <div class="fs-5 fst-italic">Телефон: {{ user.phone }}</div>
                <div class="fs-5 fst-italic">Дата рождения: {{ user.date_of_birth }}</div>
                <div class="fs-5 fst-italic">Почта: {{ user.email }}</div>
                <div class="fs-5 fst-italic">Город: {{ user.city }}</div>
                <div class="fs-5 fst-italic">Обо мне: {{ user.about_me }}</div>
            </div>
        </div>
        {% if user.posts.count >= 1 %}
        <div class="text-center py-4 fs-3">Ваши посты</div>
        {% for post in user.posts.all %}
        <div class="border border-dark p-3 bg-light rounded mb-2">
            <h4 class="text-center">{{ post.title }}</h4>
            <div class="fs-5 mt-2">{{ post.text }}</div>
            <a href="{% url 'fbook:delete_post' pk=post.pk %}" class="btn btn-danger my-2">Удалить</a>
            <div type="button" class="btn btn-primary" data-bs-toggle="modal"
                 data-bs-target="{{ post.get_id_for_frontend }}">
                Показать комментарии
            </div>
            <div class='like'>
                {% if post.pk in list_likes %}
                <button class='like-toggle basic3 like-active'>♥</button>
                <span>{{ post.like_post.count }}</span>
                <div class="hidden">{{ post.pk }}</div>
                {% else %}
                <button class='like-toggle basic3 like-button'>♥</button>
                <span class='hidden'>{{ post.like_post.count }}</span>
                <div class="hidden">{{ post.pk }}</div>
                {% endif %}
            </div>
            <!-- Modal -->
            <div class="modal fade" id="{{ post.get_href_for_frontend }}" data-bs-backdrop="static"
                 data-bs-keyboard="false"
                 tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Коментрарии</h5>
                            <div type="button" class="btn-close" data-bs-dismiss="modal"
                                 aria-label="Close"></div>
                        </div>
                        <div class="modal-body">
                            {% for comment in post.comment_set.all %}
                            <div class="p-2">
                                <h4>{{ comment.author.first_name }} {{ comment.author.last_name }} <em>
                                    {{ comment.create_at|date:"d.m H:i" }}</em></h4>
                                <h6>{{ comment.content }}</h6>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <div type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                закрыть
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <a href="{% url 'fbook:post' %}" class="btn btn-info py-2 my-3">Добавить пост</a>
        {% endif %}
    </div>
    <div class="col-2 text-right">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                    data-toggle="dropdown"
                    aria-expanded="false">
                Настройки
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item active" href="#">Мой профиль</a></li>
                <li><a class="dropdown-item" href="#">Изменить пароль</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'fbook:logout' %}">Выйти</a></li>
            </ul>
        </div>
    </div>
</div>


{% endblock content %}